<app-navbar></app-navbar>

<div id="container">
    <header>Créez votre compte</header>
    <form>
       <fieldset>
          <br/>
          <input [(ngModel)]="signupUserData.username" type="text" name="username" placeholder="Nom d'utilisateur"><br/>
          <!-- <span class="text-danger" *ngIf="signupForm.controls['username'].touched && signupForm.hasError('required', 'username')">*Veuillez entrer votre nom d'utilisateur</span> -->
         

          <br/><input [(ngModel)]="signupUserData.email" type="email" name="email" placeholder="Email"><br/>
          <!-- <span class="text-danger" *ngIf="signupForm.controls['email'].touched && signupForm.hasError('required', 'email')">*Veuillez entrer votre email</span> -->
         

          <br/><input [(ngModel)]="signupUserData.password" type="password" name="password" placeholder="Mot de passe"><br/>
          <!-- <span class="text-danger" *ngIf="signupForm.controls['password'].touched && signupForm.hasError('required', 'password')">*Veuillez entrer votre mot de passe</span><br/> -->
          

          <label for="submit"></label>
          <input type="submit" name="submit" value="Inscription" (click)="signUp()">

          <a class="text-white" routerLink="/login">Vous êtes déja inscris ? Connectez-vous</a>
       </fieldset>
    </form>

    
 </div>