<app-navbar></app-navbar>
      
      <div class="row p-3 mt-3">
          <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let products of products">
              <div class="card mt-2" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{products.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">{{products.description}}</p>
                  </div>
                </div>
          </div>
      </div>
      <div>
        <button class="btn btn-danger" (click)="_authService.logout()">Déconnexion</button>
       </div>
   
      