<div id="container">
    <header>Connectez-vous</header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
       <fieldset>

          <input formControlName="email" type="email" id="email" placeholder="Email" ><br/>
          <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required', 'email')">*email required</span> <br/>
          
          <input formControlName="password" type="password" id="password" placeholder="Password" ><br/>
          <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required', 'password')">*password required</span><br/>
          
          <label for="submit"></label>
          <input type="submit" [disabled]="!loginForm.valid" name="submit" class="submit" value="Connexion">
          
          <a routerLink="/signup">Vous n'avez pas de compte? Inscrivez-vous</a>
       </fieldset>
       
    </form>
    
 </div>