<app-navbar></app-navbar>

<div class="contain">
  
    <header>Connectez-vous</header>
    <form>
       <fieldset>
          <input [(ngModel)]="loginUserData.email" type="email" name="email" placeholder="Email" ><br/>
          <!-- <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required', 'email')">*Veuillez entrer votre email</span> <br/> -->
          
          <input [(ngModel)]="loginUserData.password" type="password" name="password" placeholder="Mot de passe" ><br/>
          <!-- <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required', 'password')">**Veuillez entrer votre mot de passe</span><br/> -->
          
          <label for="submit"></label>
          <input type="submit" (click)="login()" name="submit" class="submit" value="Connexion">
          
          <a routerLink="/signup">Vous n'avez pas de compte? Inscrivez-vous</a>
       </fieldset>
       
    </form>
    
 </div>
 