<div id="container">
    <header>Créez votre compte</header>
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
       <fieldset>
          <br/>
          <input formControlName="username" type="text" name="username" id="username" placeholder="Full Name" required>

          <input formControlName="email" type="email" name="email" id="email" placeholder="Email" required>

          <input formControlName="password" type="password" name="password" id="password" placeholder="Password" required>

          <input formControlName="password" type="password" name="password" id="password" placeholder="Confirm Password" required>

          <label for="submit"></label>
          <input type="submit" name="submit" id="submit" value="Inscription">
          <a routerLink="/login">Vous êtes déja inscris ? Connectez-vous</a>
       </fieldset>
    </form>

    
 </div>